:root {
  --background: #00040df1;
  --background2: #010d26e0;
  --background-button: #456173;
  --background-button2: #0218598e;
  --yellow: #fae900cc;
  --text-title1: #d1603d;
  --text-title2: #ece9a1;
  --gray: #BEC2C6;
  --white: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #FBFBFB;
  background: var(--background);
}

input, textarea {
  font-family: "Poppins";
}

button {
  cursor: pointer;
}