:root {
  --background: #FFF;
  --background2: #5B239C;
  --background-button: #04A29D;
  --background-button2: #34C3BF;
  --yellow: #FBFBFB;
  --text-title1: #04A29D;
  --text-title2: #945BD6;
  --gray: #5D5A5C;
  --white: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #FBFBFB;
  background: var(--background);
}

input, textarea {
  font-family: "Poppins";
}

button {
  cursor: pointer;
}