nav.sidebar {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 24rem;
  width: 100%;

  padding: 2rem;

  background: var(--background2);

  box-shadow: 0.01rem 0.01rem 0.5rem #010816;
  > span {
    margin-bottom: 4.5rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-title1);

    p {
      display: inline;
      color: var(--text-title2);
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
}